.header, .comment, .tv-program__main { *zoom: 1; }
.header:before, .comment:before, .tv-program__main:before, .header:after, .comment:after, .tv-program__main:after { content: " "; display: table; }
.header:after, .comment:after, .tv-program__main:after { clear: both; }

@font-face { font-family: "pfregular"; src: url("fonts/pfdintextpro-regular-webfont.eot"); src: url("fonts/pfdintextpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextpro-regular-webfont.woff") format("woff"), url("fonts/pfdintextpro-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pfmedium"; src: url("fonts/pfdintextpro-medium-webfont.eot"); src: url("fonts/pfdintextpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextpro-medium-webfont.woff") format("woff"), url("fonts/pfdintextpro-medium-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "pf_din_text_cond_promedium"; src: url("fonts/pfdintextcondpro-medium-webfont.eot"); src: url("fonts/pfdintextcondpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pfdintextcondpro-medium-webfont.woff") format("woff"), url("fonts/pfdintextcondpro-medium-webfont.ttf") format("truetype"), url("fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: whitesmoke; color: #222222; font-family: "pfregular", arial, sans-serif; }

a img, fieldset { border: none; }

.site { background: white; }

.debug { position: fixed; bottom: 0; right: 50%; background: black; z-index: 1000; font-size: 20px; padding: 5px; color: white; }

.top { background: #e1e1e1; height: 60px; position: relative; margin-bottom: 26px; }
@media only screen and (max-width: 1200px) { .top { height: 40px; } }
@media only screen and (max-width: 700px) { .top { display: none; } }
.top .top__nav { list-style: none; float: left; }
.top .top__nav li { float: left; }
.top .top__nav a { float: left; height: 60px; line-height: 60px; font-size: 12px; padding: 0 20px; text-decoration: none; color: silver; background: whitesmoke; }
@media only screen and (max-width: 1200px) { .top .top__nav a { height: 40px; line-height: 40px; } }
.top .top__nav a:hover { background: #848484; color: white; }
.top .top__nav a.is-active, .top .top__nav a.is-active:hover { color: white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #141414)); background-image: -webkit-linear-gradient(#373737, #141414); background-image: -moz-linear-gradient(#373737, #141414); background-image: -o-linear-gradient(#373737, #141414); background-image: -ms-linear-gradient(#373737, #141414); background-image: linear-gradient(#373737, #141414); }
.top .top__links { float: right; padding-right: 40px; height: 60px; line-height: 60px; font-size: 10px; color: black; }
@media only screen and (max-width: 1200px) { .top .top__links { height: 40px; line-height: 40px; } }
.top .top__links a { color: #e51b23; text-decoration: none; text-transform: uppercase; margin: 0 5px; }
.top .top__links a:hover { text-decoration: underline; }

.header { margin: 0 40px; }
@media only screen and (max-width: 1000px) { .header { margin: 0 10px; } }
@media only screen and (max-width: 830px) { .header { margin: 0px; } }
@media only screen and (max-width: 700px) { .header { height: 43px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #303030), color-stop(100%, #131313)); background-image: -webkit-linear-gradient(#303030, #131313); background-image: -moz-linear-gradient(#303030, #131313); background-image: -o-linear-gradient(#303030, #131313); background-image: -ms-linear-gradient(#303030, #131313); background-image: linear-gradient(#303030, #131313); margin-bottom: 20px; overflow: hidden; } }
@media only screen and (max-width: 401px) { .header { height: 33px; margin-bottom: 15px; } }
.header .header__in { width: 100%; position: relative; }
.header .header__toggle { display: none; height: 43px; width: 40px; float: left; border-right: 1px solid rgba(255, 255, 255, 0.1); cursor: pointer; position: relative; z-index: 20; }
@media only screen and (max-width: 700px) { .header .header__toggle { display: block; } }
@media only screen and (max-width: 401px) { .header .header__toggle { height: 33px; width: 33px; } }
.header .header__toggle i { background: url('../img/icons-sab6e008f99.png') 0 -1629px no-repeat; width: 15px; height: 14px; position: absolute; left: 12px; top: 14px; }
@media only screen and (max-width: 401px) { .header .header__toggle i { top: 9px; left: 10px; } }
.header .search__toggle { position: absolute; right: 0; top: 0; height: 43px; width: 40px; border-left: 1px solid rgba(255, 255, 255, 0.1); cursor: pointer; display: none; z-index: 20; }
@media only screen and (max-width: 700px) { .header .search__toggle { display: block; } }
@media only screen and (max-width: 401px) { .header .search__toggle { width: 33px; height: 33px; } }
.header .search__toggle i { background: url('../img/icons-sab6e008f99.png') 0 -1510px no-repeat; width: 15px; height: 15px; position: absolute; left: 13px; top: 14px; }
@media only screen and (max-width: 401px) { .header .search__toggle i { left: 7px; top: 7px; } }
.header .header__right { float: right; width: 800px; }
@media only screen and (max-width: 940px) { .header .header__right { width: auto; margin-left: 120px; float: none; } }
@media only screen and (max-width: 830px) { .header .header__right { margin-left: 156px; } }
@media only screen and (max-width: 700px) { .header .header__right { position: absolute; width: 100%; margin: 0; z-index: 1; height: 1px; } }
.header .logo { overflow: hidden; text-align: center; position: relative; left: -20px; }
@media only screen and (max-width: 1000px) { .header .logo { left: -5px; } }
@media only screen and (max-width: 940px) { .header .logo { width: 110px; padding-right: 10px; float: left; left: 0; position: absolute; top: 0; } }
@media only screen and (max-width: 830px) { .header .logo { width: 156px; padding-right: 0; top: -8px; } }
@media only screen and (max-width: 700px) { .header .logo { position: relative; top: 0; left: 0; z-index: 20; width: auto; float: left; margin-left: 11px; margin-top: 4px; } }
@media only screen and (max-width: 401px) { .header .logo { margin: 0; } }
.header .logo .logo__pic { display: inline-block; text-indent: -1983px; overflow: hidden; background: url('../img/icons-sab6e008f99.png') 0 0 no-repeat; width: 114px; height: 141px; }
@media only screen and (max-width: 1000px) { .header .logo .logo__pic { background: url('../img/icons-sab6e008f99.png') 0 -151px no-repeat; width: 104px; height: 128px; } }
@media only screen and (max-width: 830px) { .header .logo .logo__pic { background: url('../img/icons-sab6e008f99.png') 0 -369px no-repeat; width: 72px; height: 90px; } }
@media only screen and (max-width: 700px) { .header .logo .logo__pic { background: url('../img/icons-sab6e008f99.png') 0 -289px no-repeat; width: 102px; height: 34px; } }
@media only screen and (max-width: 401px) { .header .logo .logo__pic { background: none; text-indent: 0; width: auto; height: 33px; line-height: 33px; font-size: 16px; color: #bb141a; margin-left: 8px; text-decoration: none; } }
.header .lang { font-size: 14px; text-transform: uppercase; padding-top: 4px; }
@media only screen and (max-width: 700px) { .header .lang { display: none; } }
.header .lang a { color: #a3a3a3; text-decoration: none; margin-left: 13px; }
.header .lang a:hover { text-decoration: underline; }
.header .lang a.is-active { color: #fa0026; font-family: "pfmedium", "arial narrow", sans-serif; }
.header .header__top { display: inline-block; width: 100%; padding-bottom: 16px; }
@media only screen and (max-width: 830px) { .header .header__top { padding-bottom: 10px; } }
@media only screen and (max-width: 700px) { .header .header__top { height: 1px; padding: 0; } }
.header .header__top .lang { float: right; margin-right: 47px; }

.socials { list-style: none; float: left; margin-left: 4px; }
@media only screen and (max-width: 700px) { .socials { display: none; } }
.socials li { float: left; }
.socials a { float: left; margin-right: 10px; width: 23px; height: 23px; }
.socials .socials__face { background: url('../img/icons-sab6e008f99.png') 0 -1001px no-repeat; }
.socials .socials__face:hover { background: url('../img/icons-sab6e008f99.png') 0 -968px no-repeat; }
.socials .socials__twit { background: url('../img/icons-sab6e008f99.png') 0 -935px no-repeat; }
.socials .socials__twit:hover { background: url('../img/icons-sab6e008f99.png') 0 -736px no-repeat; }
.socials .socials__gplu { background: url('../img/icons-sab6e008f99.png') 0 -769px no-repeat; }
.socials .socials__gplu:hover { background: url('../img/icons-sab6e008f99.png') 0 -604px no-repeat; }
.socials .socials__yout { background: url('../img/icons-sab6e008f99.png') 0 -902px no-repeat; }
.socials .socials__yout:hover { background: url('../img/icons-sab6e008f99.png') 0 -637px no-repeat; }
.socials .socials__vime { background: url('../img/icons-sab6e008f99.png') 0 -869px no-repeat; }
.socials .socials__vime:hover { background: url('../img/icons-sab6e008f99.png') 0 -703px no-repeat; }
.socials .socials__feed { background: url('../img/icons-sab6e008f99.png') 0 -836px no-repeat; }
.socials .socials__feed:hover { background: url('../img/icons-sab6e008f99.png') 0 -670px no-repeat; }

.search { width: 277px; position: relative; float: right; }
@media only screen and (max-width: 830px) { .search { width: 163px; margin-right: 10px; } }
@media only screen and (max-width: 700px) { .search { position: absolute; right: 10px; right: -200px; top: 5px; margin: 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; } }
.search .search__input { background: #f0f0f0; border-style: none; border-top: 2px solid silver; border-left: 1px solid silver; padding: 7px 15px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.search .search__input:-moz-placeholder { font-style: italic; }
.search .search__input::-webkit-input-placeholder { font-style: italic; }
.search .search__submit { position: absolute; right: 8px; top: 6px; background: url('../img/icons-sab6e008f99.png') 0 -1428px no-repeat; width: 16px; height: 16px; cursor: pointer; overflow: hidden; }
.search .search__submit input { opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

@media only screen and (max-width: 700px) { .is-withsearch .search { right: 45px; } }

.nav { height: 43px; background: #c9001c; font-size: 17px; list-style: none; }
@media only screen and (max-width: 830px) { .nav { font-size: 14px; } }
@media only screen and (max-width: 700px) { .nav { display: none; } }
.nav li { float: left; }
.nav a { color: white; text-transform: uppercase; text-decoration: none; float: left; height: 43px; line-height: 43px; border-right: 1px solid #ae0011; width: 100%; text-align: center; }
.nav a:hover { background: #a60516; text-decoration: underline; }
.nav .nav__1 { width: 140px; }
@media only screen and (max-width: 940px) { .nav .nav__1 { width: 18%; } }
.nav .nav__2 { width: 160px; }
@media only screen and (max-width: 940px) { .nav .nav__2 { width: 20%; } }
.nav .nav__3 { width: 125px; }
@media only screen and (max-width: 940px) { .nav .nav__3 { width: 15%; } }
.nav .nav__4 { width: 280px; }
@media only screen and (max-width: 940px) { .nav .nav__4 { width: 35%; } }
.nav .nav__user { width: 95px; float: right; }
@media only screen and (max-width: 940px) { .nav .nav__user { width: 12%; } }
.nav .nav__user a { border-right: none; display: block; }
.nav .nav__user i { background: url('../img/icons-sab6e008f99.png') 0 -1482px no-repeat; width: 20px; height: 18px; display: inline-block; position: relative; top: 4px; }

.subnav { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #131313)); background-image: -webkit-linear-gradient(#313131, #131313); background-image: -moz-linear-gradient(#313131, #131313); background-image: -o-linear-gradient(#313131, #131313); background-image: -ms-linear-gradient(#313131, #131313); background-image: linear-gradient(#313131, #131313); height: 22px; list-style: none; overflow: hidden; width: 100%; }
@media only screen and (max-width: 700px) { .subnav { display: none; } }
.subnav .subnav__list { list-style: none; text-align: justify; padding: 0 14px 0 25px; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.subnav .subnav__list:after { width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ""; display: inline-block; }
.subnav .subnav__list li { display: inline-block; text-align: left; line-height: normal; font-size: 14px; vertical-align: top; }
.subnav li { display: inline-block; }
.subnav a { display: inline-block; font-size: 12px; text-transform: uppercase; color: #8e8e8e; text-decoration: none; line-height: 22px; height: 22px; }
.subnav a:hover { color: white; text-decoration: underline; }
@media only screen and (max-width: 830px) { .subnav a { font-size: 11px; } }

.marq { height: 38px; line-height: 38px; background: #e9e9e9; overflow: hidden; width: 100%; position: relative; }
@media only screen and (max-width: 830px) { .marq { display: none; } }
.marq .marq__next { background: url('../img/icons-sab6e008f99.png') 0 -1123px no-repeat; width: 30px; height: 38px; position: absolute; right: 0; top: 0; cursor: pointer; opacity: 0.6; }
.marq .marq__next:hover { opacity: 1; }

.currency { height: 38px; line-height: 38px; }
.currency ul { list-style: none; font-size: 10px; color: #222222; padding-left: 26px; }
.currency ul li { display: inline-block; margin-right: 32px; }
.currency ul li span { color: #700000; }

.topbanner { background: black; height: 75px; overflow: hidden; position: relative; }
@media only screen and (max-width: 700px) { .topbanner { margin: 0 38px; width: auto; } }
.topbanner img { display: block; position: absolute; left: 50%; margin-left: -620px; }

.footer { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #1c1c1c)); background-image: -webkit-linear-gradient(#3a3a3a, #1c1c1c); background-image: -moz-linear-gradient(#3a3a3a, #1c1c1c); background-image: -o-linear-gradient(#3a3a3a, #1c1c1c); background-image: -ms-linear-gradient(#3a3a3a, #1c1c1c); background-image: linear-gradient(#3a3a3a, #1c1c1c); border-top: 1px solid #d7d7d7; color: #d8d8d8; font-size: 14px; line-height: 1.3; position: relative; }
@media only screen and (max-width: 700px) { .footer { padding: 40px 20px; } }
@media only screen and (max-width: 550px) { .footer { padding-bottom: 122px; padding-top: 20px; padding-left: 0; padding-right: 0; } }
.footer .footer__categs, .footer .footer__adres, .footer .footer__logos, .footer .footer__copy { padding: 37px 3% 32px 3%; float: left; }
@media only screen and (max-width: 940px) { .footer .footer__categs, .footer .footer__adres, .footer .footer__logos, .footer .footer__copy { padding: 37px 3% 26px 3%; } }
@media only screen and (max-width: 700px) { .footer .footer__categs, .footer .footer__adres, .footer .footer__logos, .footer .footer__copy { padding: 0; } }
.footer .footer__categs:before, .footer .footer__adres:before, .footer .footer__logos:before, .footer .footer__copy:before { content: " "; position: absolute; right: 0; top: 0; height: 400px; border-right: 1px solid #474747; }
@media only screen and (max-width: 940px) { .footer .footer__categs:before, .footer .footer__adres:before, .footer .footer__logos:before, .footer .footer__copy:before { display: none; } }
.footer .footer__wrapb { float: left; width: 43%; }
@media only screen and (max-width: 940px) { .footer .footer__wrapb { padding: 37px 0 26px 3%; width: 30%; } }
@media only screen and (max-width: 700px) { .footer .footer__wrapb { float: right; width: 40%; padding: 0; margin-right: 40px; } }
@media only screen and (max-width: 550px) { .footer .footer__wrapb { float: none; width: auto; margin: 0; } }
.footer .footer__in { overflow: hidden; }
.footer h3 { color: #d8d8d8; text-transform: uppercase; font-size: 14px; font-weight: normal; margin-bottom: 14px; }
.footer .footer__categs { position: relative; width: 25%; }
@media only screen and (max-width: 700px) { .footer .footer__categs { width: 40%; float: left; margin-left: 44px; } }
@media only screen and (max-width: 550px) { .footer .footer__categs { float: none; margin: 0 20px 20px 20px; width: auto; overflow: hidden; } }
.footer .footer__categs ul { width: 50%; float: left; list-style: none; font-size: 14px; width: 60%; }
.footer .footer__categs ul:last-child { width: 40%; }
.footer .footer__categs ul li { margin-bottom: 4px; }
.footer .footer__categs ul a { color: #ea1b23; text-decoration: none; }
.footer .footer__adres { width: 20%; width: 45%; position: relative; padding-left: 5%; }
@media only screen and (max-width: 940px) { .footer .footer__adres { float: none !important; width: auto; padding: 0; } }
@media only screen and (max-width: 550px) { .footer .footer__adres { display: none; } }
.footer .footer__adres p { margin-bottom: 4px; }
.footer .footer__adres a { color: #ea1b23; font-size: 14px; }
.footer .footer__logos { position: relative; text-align: center; width: 15%; width: 35%; }
@media only screen and (max-width: 940px) { .footer .footer__logos { float: left !important; width: auto; padding: 0; text-align: left; margin-top: 26px; } }
@media only screen and (max-width: 940px) { .footer .footer__logos { margin-right: -20px; } }
@media only screen and (max-width: 550px) { .footer .footer__logos { position: absolute; left: 30px; bottom: 30px; width: 40%; text-align: left; } }
@media only screen and (max-width: 940px) { .footer .footer__logos br { display: none; } }
.footer .footer__logos > a { margin-bottom: 20px; display: inline-block; }
@media only screen and (max-width: 940px) { .footer .footer__logos > a { margin-bottom: 0; margin-right: 18px; vertical-align: middle; } }
@media only screen and (max-width: 550px) { .footer .footer__logos > a { margin-top: 5px; } }
.footer .footer__logo1 { background: url('../img/icons-sab6e008f99.png') 0 -515px no-repeat; width: 37px; height: 37px; display: inline-block; }
.footer .footer__logo2 { background: url('../img/icons-sab6e008f99.png') 0 -469px no-repeat; width: 36px; height: 36px; display: inline-block; }
.footer .footer__logo3 { background: url('../img/icons-sab6e008f99.png') 0 -333px no-repeat; width: 89px; height: 26px; display: inline-block; }
@media only screen and (max-width: 940px) { .footer .footer__logo3 { position: relative; top: 4px; } }
.footer .footer__copy { width: 20%; font-size: 12px; padding-left: 15px; }
@media only screen and (max-width: 940px) { .footer .footer__copy { width: 33%; padding-left: 0; padding-right: 0; } }
@media only screen and (max-width: 700px) { .footer .footer__copy { float: left; width: 40%; margin-left: 44px; padding-top: 20px; } }
@media only screen and (max-width: 550px) { .footer .footer__copy { float: none; width: auto; margin: 0 20px; padding: 0; } }
.footer .footer__copy p { margin-bottom: 3px; }
.footer .footer__copy:before { display: none; }
.footer .footer__copyright { font-size: 12px; text-transform: uppercase; margin-bottom: 5px; line-height: 1.3; }
.footer .footer__copyright i { background: url('../img/icons-sab6e008f99.png') 0 -802px no-repeat; width: 25px; height: 24px; vertical-align: middle; margin-right: 4px; display: inline-block; position: relative; top: -3px; }
.footer .footer__copyright p { margin-bottom: 5px; }
.footer .footer__dev { margin-top: 16px; }
@media only screen and (max-width: 700px) { .footer .footer__dev { position: absolute; bottom: 60px; right: 44px; width: 40%; } }
@media only screen and (max-width: 550px) { .footer .footer__dev { position: absolute; bottom: 30px; width: 103px; right: 30px; } }
.footer .footer__dev i { display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -562px no-repeat; width: 97px; height: 32px; float: left; margin-right: 12px; }
@media only screen and (max-width: 550px) { .footer .footer__dev i { float: none; margin-right: 0; } }
.footer .footer__dev p { font-size: 11px; }
.footer .footer__dev p a { color: #585858; line-height: 1.2; }
.footer .footer__dev p a:hover { color: #ea1b23; }

body.is-channel { background: #c4c4c4; }
body.is-channel .site { background: #e5e5e5; }
body.is-channel .top .top__nav a { background: #c4c4c4; color: #8a8a8a; }
body.is-channel .top .top__nav a:hover { background: #848484; color: white; }
body.is-channel .top .top__nav a.is-active, body.is-channel .top .top__nav a.is-active:hover { color: white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373737), color-stop(100%, #141414)); background-image: -webkit-linear-gradient(#373737, #141414); background-image: -moz-linear-gradient(#373737, #141414); background-image: -o-linear-gradient(#373737, #141414); background-image: -ms-linear-gradient(#373737, #141414); background-image: linear-gradient(#373737, #141414); }

.site, .footer__in { width: 1200px; margin: 0 auto; }
@media only screen and (max-width: 1200px) { .site, .footer__in { width: auto; } }

.site { margin-bottom: 80px; }

.page { padding: 30px 40px; }
@media only screen and (max-width: 1000px) { .page { padding: 30px 10px; } }
@media only screen and (max-width: 700px) { .page { padding: 20px 44px 30px 44px; } }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 23%; margin-right: 5%; }
@media only screen and (max-width: 1000px) { .l .l-col1 { float: right; width: 30%; margin-right: 0; } }
@media only screen and (max-width: 700px) { .l .l-col1 { float: none; width: auto; display: none; } }
.l .l-col1.l-col1_alt { display: none; }
@media only screen and (max-width: 700px) { .l .l-col1.l-col1_alt { display: block; } }
.l .l-col2 { float: left; width: 46%; }
@media only screen and (max-width: 1000px) { .l .l-col2 { width: 66%; } }
@media only screen and (max-width: 700px) { .l .l-col2 { float: none; width: auto; } }
.l .l-col3 { float: right; width: 21%; }
@media only screen and (max-width: 1000px) { .l .l-col3 { display: none; } }

.l1 { width: 100%; display: inline-block; }
.l1 .l-col1 { float: left; width: 73%; }
@media only screen and (max-width: 700px) { .l1 .l-col1 { float: none; width: auto; } }
.l1 .l-col2 { width: 21%; float: right; }
@media only screen and (max-width: 700px) { .l1 .l-col2 { float: none; width: auto; } }
@media only screen and (max-width: 700px) { .l1 .l-col2 .subcol1 { float: left; width: 48%; } }
@media only screen and (max-width: 550px) { .l1 .l-col2 .subcol1 { float: none; width: auto; } }
@media only screen and (max-width: 700px) { .l1 .l-col2 .subcol2 { float: right; width: 48%; } }
@media only screen and (max-width: 550px) { .l1 .l-col2 .subcol2 { float: none; width: auto; } }

.l2 { width: 100%; display: inline-block; }
.l2 .l-col1 { float: left; margin-left: -40px; width: 13.5%; }
.l2 .l-col2 { margin: 0 0 0 2.8%; width: 63.5%; float: left; }
.l2 .l-col3 { float: right; width: 21%; }
@media only screen and (max-width: 1000px) { .l2 .l-col3 { display: none; } }
.l2 .l-col3 .video { margin: 20px 0; }

@media only screen and (max-width: 700px) { body { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; } }
@media only screen and (max-width: 700px) { body.is-withmenu { -webkit-transform: translate3d(240px, 0, 0); -moz-transform: translate3d(240px, 0, 0); -ms-transform: translate3d(240px, 0, 0); -o-transform: translate3d(240px, 0, 0); transform: translate3d(240px, 0, 0); } }

.sidenav { position: fixed; top: 0; left: -241px; width: 240px; background: whitesmoke; bottom: 0; overflow: auto; box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.4); border-right: 1px solid #d1d1d1; }
.sidenav .sidenav__top { height: 42px; background: #e4e4e4; border-bottom: 1px solid #d5d5d5; box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.4); position: relative; }
.sidenav .sidenav__global { list-style: none; font-size: 12px; }
.sidenav .sidenav__global li { float: left; }
.sidenav .sidenav__global a { float: left; height: 42px; line-height: 42px; padding: 0 20px; text-decoration: none; color: #222222; }
.sidenav .sidenav__global a.is-active { color: #696a6d; }
.sidenav .sidenav__account { right: 19px; top: 13px; position: absolute; cursor: pointer; background: url('../img/icons-sab6e008f99.png') 0 -1454px no-repeat; width: 20px; height: 18px; }
.sidenav .sidenav__nav { list-style: none; background: white; }
.sidenav .sidenav__nav li a { display: block; text-transform: uppercase; text-decoration: none; border-bottom: 1px solid #f4f4f4; padding: 12px 0 12px 20px; font-size: 15px; color: #222222; }
.sidenav .sidenav__nav li ul { background: whitesmoke; box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3), inset 0 -3px 3px -3px rgba(0, 0, 0, 0.3); }
.sidenav .sidenav__nav li ul a { border-bottom: none; font-size: 13px; }
.sidenav .socials { background: whitesmoke; padding: 20px; overflow: hidden; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8; margin-top: -1px; float: none; margin: 0; display: block; }
.sidenav .sidenav__links, .sidenav .sidenav__lang { list-style: none; background: white; }
.sidenav .sidenav__links a, .sidenav .sidenav__lang a { display: block; text-transform: uppercase; text-decoration: none; border-bottom: 1px solid #f4f4f4; padding: 12px 0 12px 20px; font-size: 15px; color: #e51b23; }
.sidenav .sidenav__lang { background: whitesmoke; }
.sidenav .sidenav__lang a { border-bottom: 1px solid #ebebeb; color: #a3a3a3; }
.sidenav .sidenav__lang a.is-active { color: #e51b23; font-family: "pfmedium", "arial narrow", sans-serif; }

.h1 { font-size: 24px; font-weight: bold; font-family: "pfmedium", "arial narrow", sans-serif; text-transform: uppercase; margin-bottom: 28px; color: #910709; }

.h2 { font-size: 15px; font-weight: normal; background: #b61622; text-transform: uppercase; color: white; padding: 6px 10px 6px 16px; padding-left: 16px; margin-bottom: 20px; }
.b_news .h2 { margin-bottom: 17px; }

.bc { font-size: 14px; text-transform: uppercase; font-family: "pfmedium", "arial narrow", sans-serif; color: #777777; margin-bottom: 35px; }

.vote .vote__button, .poll .poll__bottom .poll__submit, .btn-black { font-size: 14px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b3b3b), color-stop(100%, #151515)); background-image: -webkit-linear-gradient(#3b3b3b, #151515); background-image: -moz-linear-gradient(#3b3b3b, #151515); background-image: -o-linear-gradient(#3b3b3b, #151515); background-image: -ms-linear-gradient(#3b3b3b, #151515); background-image: linear-gradient(#3b3b3b, #151515); box-shadow: 1px 2px 0 #cccccc; text-decoration: none; height: 25px; line-height: 25px; padding: 0 18px; color: white; display: inline-block; cursor: pointer; border-style: none; }
.vote .vote__button:hover, .poll .poll__bottom .poll__submit:hover, .btn-black:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #363636), color-stop(100%, #363636)); background-image: -webkit-linear-gradient(#363636, #363636); background-image: -moz-linear-gradient(#363636, #363636); background-image: -o-linear-gradient(#363636, #363636); background-image: -ms-linear-gradient(#363636, #363636); background-image: linear-gradient(#363636, #363636); box-shadow: 1px 2px 0 #a3a3a3; }
.vote .vote__button:active, .poll .poll__bottom .poll__submit:active, .btn-black:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #232323), color-stop(100%, #3d3d3d)); background-image: -webkit-linear-gradient(#232323, #3d3d3d); background-image: -moz-linear-gradient(#232323, #3d3d3d); background-image: -o-linear-gradient(#232323, #3d3d3d); background-image: -ms-linear-gradient(#232323, #3d3d3d); background-image: linear-gradient(#232323, #3d3d3d); position: relative; top: 2px; left: 1px; box-shadow: none; }

.comments, .views { font-size: 12px; color: #878787; line-height: 1; vertical-align: middle; display: inline-block; text-decoration: none; }
.comments i, .views i { margin-right: 3px; display: inline-block; position: relative; }

.comments { margin-right: 10px; }
.comments i { background: url('../img/icons-sab6e008f99.png') 0 -1609px no-repeat; width: 11px; height: 10px; margin-right: 5px; top: 1px; }

.views i { background: url('../img/icons-sab6e008f99.png') 0 -1552px no-repeat; width: 14px; height: 9px; margin-right: 4px; }

.icon-play { display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -1571px no-repeat; width: 11px; height: 11px; }

.b { margin-bottom: 30px; }

.more { text-align: center; margin-top: 12px; }
.more .more__in { display: inline-block; color: #7f0102; text-decoration: none; font-size: 14px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #ebebeb)); background-image: -webkit-linear-gradient(#f6f6f6, #ebebeb); background-image: -moz-linear-gradient(#f6f6f6, #ebebeb); background-image: -o-linear-gradient(#f6f6f6, #ebebeb); background-image: -ms-linear-gradient(#f6f6f6, #ebebeb); background-image: linear-gradient(#f6f6f6, #ebebeb); box-shadow: 1px 2px 0 #cccccc; padding: 10px 10px 10px 47px; line-height: 1; position: relative; }
@media only screen and (max-width: 1000px) { .more .more__in { display: block; padding-left: 10px; } }
.more .more__in:before { content: " "; position: absolute; left: 33px; top: 0; height: 100%; width: 1px; border-left: 1px solid #d2d2d2; }
@media only screen and (max-width: 1000px) { .more .more__in:before { display: none; } }
.more .more__in i { position: absolute; top: 50%; left: 12px; margin-top: -3px; display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -1592px no-repeat; width: 10px; height: 7px; }
@media only screen and (max-width: 1000px) { .more .more__in i { position: relative; top: -1px; left: 0; margin-right: 6px; } }
.more .more__in:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #f7f7f7)); background-image: -webkit-linear-gradient(#f7f7f7, #f7f7f7); background-image: -moz-linear-gradient(#f7f7f7, #f7f7f7); background-image: -o-linear-gradient(#f7f7f7, #f7f7f7); background-image: -ms-linear-gradient(#f7f7f7, #f7f7f7); background-image: linear-gradient(#f7f7f7, #f7f7f7); color: #bb141a; }
.more .more__in:hover i { background: url('../img/icons-sab6e008f99.png') 0 -1535px no-repeat; width: 10px; height: 7px; }
.more .more__in:active { color: #7f0102; top: 2px; left: 1px; box-shadow: -1px -2px 0 #bcbcbc; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #f6f6f6)); background-image: -webkit-linear-gradient(#ebebeb, #f6f6f6); background-image: -moz-linear-gradient(#ebebeb, #f6f6f6); background-image: -o-linear-gradient(#ebebeb, #f6f6f6); background-image: -ms-linear-gradient(#ebebeb, #f6f6f6); background-image: linear-gradient(#ebebeb, #f6f6f6); }
.more .more__in:active i { background: url('../img/icons-sab6e008f99.png') 0 -1592px no-repeat; width: 10px; height: 7px; }

.smallentry { color: #222222; font-size: 14px; margin-bottom: 10px; }
.smallentry .smallentry__meta { margin-bottom: 0; position: relative; }
.smallentry .smallentry__metadata { position: absolute; right: 0; top: 0; opacity: 0.7; }
.smallentry .smallentry__content { overflow: hidden; }
.smallentry .smallentry__pic { float: left; margin-right: 10px; }
.smallentry .smallentry__time { display: inline-block; font-size: 12px; color: #7f0102; margin-right: 5px; }
.smallentry .smallentry__categ { color: #797979; text-decoration: none; font-size: 12px; display: inline-block; }
.smallentry .smallentry__title { font-size: 14px; text-decoration: none; cursor: pointer; font-family: "pfmedium", "arial narrow", sans-serif; }
.smallentry .smallentry__title a { color: #222222; text-decoration: none; cursor: pointer; }
.smallentry .smallentry__title a:hover { text-decoration: underline; }
.smallentry .icon-play { margin-left: 6px; vertical-align: middle; }

.entry { overflow: hidden; width: 100%; }
.entry .entry__pic { float: left; margin-right: 20px; width: 45%; }
.entry .entry__pic img { width: 100%; display: block; }
.entry .entry__content { overflow: hidden; }
.entry .entry__published { color: #7f0102; font-size: 14px; margin-bottom: 5px; }
.entry .entry__title { font-weight: normal; font-size: 24px; color: #222222; line-height: 1.2; text-decoration: none; margin-bottom: 4px; }
@media only screen and (max-width: 700px) { .entry .entry__title { font-size: 18px; } }
.entry .entry__title a { text-decoration: none; color: #222222; }
.entry .entry__title a:hover { text-decoration: underline; color: #7f0102; }
.entry .entry__summary { color: #222222; font-size: 16px; }
@media only screen and (max-width: 940px) { .entry .entry__summary { font-size: 14px; } }
.entry .entry__summary a { color: #222222; text-decoration: none; }
.entry .entry__summary a:hover { text-decoration: underline; }

.cycle-pager { text-align: center; padding-top: 20px; }
.cycle-pager span { display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -1219px no-repeat; width: 13px; height: 13px; margin-right: 13px; text-indent: -1983em; overflow: hidden; cursor: pointer; }
.cycle-pager .cycle-pager-active { background: url('../img/icons-sab6e008f99.png') 0 -1034px no-repeat; width: 13px; height: 13px; }

.b_news .more { margin-top: 20px; }

.b_digit .h2 { margin-bottom: 0; }
.b_digit .digit { background: whitesmoke; padding: 4px; text-align: center; font-size: 14px; line-height: 1.3; padding-bottom: 12px; }
.b_digit .digit__number { display: block; font-size: 82px; font-family: "Times New Roman", serif; line-height: 1; }

.vote .vote__button { margin-left: 29px; }
.vote .vote__title { font-size: 16px; font-family: "pfmedium", "arial narrow", sans-serif; line-height: 1.3; margin-bottom: 10px; }
.vote .vote__options { list-style: none; margin-bottom: 20px; font-size: 14px; }
.vote .vote__options li { margin-bottom: 8px; }
.vote .vote__options label { padding-left: 29px; display: block; position: relative; cursor: pointer; }
.vote .vote__options label input { position: absolute; left: 2px; top: 1px; }

.video { position: relative; overflow: hidden; display: block; text-decoration: none; }
.video .video__pic img { display: block; width: 100%; }
.video .video__content { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.6); padding: 6px 6px 6px 51px; color: white; font-size: 14px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }
.video .video__icon { background: url('../img/icons-sab6e008f99.png') 0 -1392px no-repeat; width: 26px; height: 26px; position: absolute; left: 11px; top: 14px; }
.video .video__summary { display: none; }
.video .video__title { font-family: "pfmedium", "arial narrow", sans-serif; font-size: 14px; display: inline; margin-right: 6px; }
.video:hover .video__icon, .video.is-active .video__icon { display: none; }
.video:hover .video__content, .video.is-active .video__content { top: 0; padding: 15px 10px 10px 20px; }
.video:hover .video__title, .video.is-active .video__title { font-size: 16px; }
.video:hover .video__summary, .video.is-active .video__summary { display: block; margin-top: 8px; }
.video.video_big .video__title { font-size: 18px; font-weight: bold; }
.video.video_big .video__published { color: #8c8c8c; display: inline-block; margin-right: 20px; font-size: 15px; vertical-align: middle; }
.video.video_big .video__content { padding-left: 83px; padding-top: 12px; padding-bottom: 12px; }
.video.video_big .video__icon { background: url('../img/icons-sab6e008f99.png') 0 -1242px no-repeat; width: 48px; height: 48px; top: 50%; left: 14px; margin-top: -24px; }
.video.video_big.is-active .video__content, .video.video_big:hover .video__content { padding: 30px; }
.video.video_big.is-active .video__title, .video.video_big:hover .video__title { display: block; margin-bottom: 5px; font-size: 30px; }

.videos { margin-right: -4%; overflow: hidden; }
@media only screen and (max-width: 550px) { .videos { margin: 0; } }
.videos .video { float: left; width: 46%; margin-right: 4%; margin-bottom: 20px; }
@media only screen and (max-width: 550px) { .videos .video { float: none; margin-right: 0; width: auto; } }

.bycategs { margin-right: -4%; overflow: hidden; }
@media only screen and (max-width: 550px) { .bycategs { margin: 0; } }
.bycategs .bycateg { float: left; width: 46%; margin-right: 4%; margin-bottom: 20px; }
@media only screen and (max-width: 550px) { .bycategs .bycateg { float: none; margin-right: 0; width: auto; } }

.bycateg { border-bottom: 1px solid #dedede; margin-bottom: 13px; padding-bottom: 13px; }
.bycateg .bycateg__title { font-size: 10px; text-transform: uppercase; background: black; padding: 4px 5px; line-height: 1; color: white; margin-bottom: 12px; display: inline-block; text-decoration: none; font-weight: normal; font-family: "pfmedium", "arial narrow", sans-serif; }
.bycateg .bycateg__title:hover { background: #bf0e20; }
.bycateg .bycateg__more { display: inline-block; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f0f0f0)); background-image: -webkit-linear-gradient(#f8f8f8, #f0f0f0); background-image: -moz-linear-gradient(#f8f8f8, #f0f0f0); background-image: -o-linear-gradient(#f8f8f8, #f0f0f0); background-image: -ms-linear-gradient(#f8f8f8, #f0f0f0); background-image: linear-gradient(#f8f8f8, #f0f0f0); font-family: "pfmedium", "arial narrow", sans-serif; color: #bb141a; text-decoration: none; box-shadow: 1px 2px 0 #cccccc; padding: 6px 8px 5px 11px; line-height: 1; }
.bycateg .bycateg__more:after { content: " "; display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -1653px no-repeat; width: 6px; height: 8px; margin-left: 6px; vertical-align: middle; }
.bycateg .bycateg__more:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #e3e3e3)); background-image: -webkit-linear-gradient(#ebebeb, #e3e3e3); background-image: -moz-linear-gradient(#ebebeb, #e3e3e3); background-image: -o-linear-gradient(#ebebeb, #e3e3e3); background-image: -ms-linear-gradient(#ebebeb, #e3e3e3); background-image: linear-gradient(#ebebeb, #e3e3e3); }
.bycateg .bycateg__more:active { position: relative; top: 2px; left: 1px; }

.banner.banner__240 { margin-bottom: 30px; }
.banner.banner__240 img { display: block; width: 100%; }

.b_quote .h2 { margin-bottom: 0; }
.b_quote blockquote { background: whitesmoke; padding: 15px 10px; font-size: 16px; font-style: italic; font-family: "Times New Roman", serif; }
.b_quote blockquote cite { font-size: 14px; text-align: right; display: block; margin-top: 5px; }

.b_social .h2 { margin-bottom: 0; }
.b_social .b__content { border: 10px solid whitesmoke; border-top: none; overflow: hidden; }

.addcomment { padding: 8px 13px; background: #f0f2f2; font-family: "pfmedium", "arial narrow", sans-serif; font-size: 18px; color: #333333; margin-bottom: 20px; }
.addcomment strong { font-weight: normal; }
.addcomment a { text-decoration: none; color: #910709; margin-left: 6px; }
.addcomment a i { display: inline-block; margin-right: 5px; vertical-align: middle; background: url('../img/icons-sab6e008f99.png') 0 -1671px no-repeat; width: 14px; height: 13px; }

.likes { margin: 20px 0; }

.slider { position: relative; margin-bottom: 20px; }
.slider .slider__items { width: 90%; margin: 0 auto; position: relative; }
.slider .slider__next, .slider .slider__prev { position: absolute; top: 50%; cursor: pointer; margin-top: -10px; z-index: 100; }
.slider .slider__next { background: url('../img/icons-sab6e008f99.png') 0 -1300px no-repeat; width: 36px; height: 36px; right: 0; }
.slider .slider__prev { background: url('../img/icons-sab6e008f99.png') 0 -1346px no-repeat; width: 36px; height: 36px; left: 0; }
.slider .slider__item { width: 100%; margin: 0 auto; }

.slide { padding: 0 30px; }
.slide .slide__type { font-size: 14px; color: #777777; text-transform: uppercase; position: absolute; left: 0; top: 0; }

.poll .poll__date { margin-bottom: 38px; font-size: 14px; text-align: center; color: #666666; }
.poll .poll__title { text-align: center; margin: 0 30px 40px 30px; font-size: 24px; color: #333333; }
.poll .poll__results, .poll .poll__qs { width: 80%; margin: 0 auto; }
.poll .poll__result { margin-bottom: 20px; }
.poll .poll__result strong { font-size: 18px; font-weight: normal; display: block; color: #222222; }
.poll .poll__result .poll__stat { position: relative; height: 10px; background: #f0f2f2; }
.poll .poll__result .poll__fill { height: 10px; background: #242424; display: block; }
.poll .poll__result .poll__number { width: 30px; position: absolute; right: -35px; text-align: left; font-family: "pfmedium", "arial narrow", sans-serif; font-size: 16px; top: -2px; line-height: 1; }
.poll .poll__q { margin-bottom: 10px; }
.poll .poll__q label { font-size: 18px; display: block; }
.poll .poll__q input { vertical-align: middle; margin-right: 10px; position: relative; top: -2px; }
.poll .poll__bottom { margin-top: 40px; text-align: center; }
.poll .poll__bottom .poll__submit { margin-right: 20px; font-size: 18px; padding: 10px 20px; }
.poll .poll__bottom .poll__viewresults { text-decoration: none; color: #bb141a; font-size: 16px; }
.poll .poll__bottom .poll__viewresults:hover { text-decoration: underline; }
.poll .poll__whole { margin-top: 40px; font-size: 16px; color: #666666; text-align: center; }

.bigdigit { text-align: center; color: #333333; }
.bigdigit .bigdigit__number { font-size: 123px; font-family: "pfmedium", "arial narrow", sans-serif; margin-bottom: 20px; }
@media only screen and (max-width: 1200px) { .bigdigit .bigdigit__number { font-size: 90px; } }
@media only screen and (max-width: 940px) { .bigdigit .bigdigit__number { font-size: 70px; } }
.bigdigit .bigdigit__text { font-size: 22px; }
@media only screen and (max-width: 1000px) { .bigdigit .bigdigit__text { font-size: 16px; } }

.quote { text-align: center; }
.quote .quote__av { margin-bottom: 5px; }
.quote .quote__name { font-size: 18px; text-align: center; margin-bottom: 30; }
.quote .quote__cite { font-size: 24px; font-style: italic; color: #333333; padding-bottom: 30px; margin: 0 30px; }
.quote .quote__arrow { font-size: 93px; line-height: 1; display: block; margin-bottom: -10px; }

.videospage { margin-bottom: 30px; overflow: hidden; margin-right: -4%; }
@media only screen and (max-width: 550px) { .videospage { margin-right: 0; } }
.videospage .video { float: left; width: 30%; margin-right: 3%; margin-bottom: 20px; }
@media only screen and (max-width: 830px) { .videospage .video { width: 47%; } }
@media only screen and (max-width: 550px) { .videospage .video { width: 100%; margin: 0 0 20px 0; } }
.videospage .video.video_big { width: 63%; }
@media only screen and (max-width: 830px) { .videospage .video.video_big { width: 97%; } }
@media only screen and (max-width: 550px) { .videospage .video.video_big { width: 100%; margin: 0 0 20px 0; } }
.videospage .more { clear: both; margin-bottom: 20px; }

.clr { clear: both; height: 1px; }

.position { margin-bottom: 28px; color: #333333; font-size: 16px; }
.position .position__title { font-weight: normal; font-size: 23px; text-decoration: none; margin-bottom: 14px; }
.position .position__title a { text-decoration: none; }
.position .position__title a:hover { text-decoration: underline; }
.position p { margin-bottom: 10px; }
.position .position__more { text-decoration: none; color: #e81b23; font-size: 12px; }
.position .position__more:hover { text-decoration: underline; }
.position .position__more:after { content: " "; display: inline-block; background: url('../img/icons-sab6e008f99.png') 0 -1653px no-repeat; width: 6px; height: 8px; margin-left: 5px; vertical-align: middle; }

.livetv { padding: 0 8% 0 6.5%; height: 75px; line-height: 75px; text-transform: uppercase; font-family: "pfmedium", "arial narrow", sans-serif; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #2a2a2a)); background-image: -webkit-linear-gradient(top, #3a3a3a, #2a2a2a); background-image: -moz-linear-gradient(top, #3a3a3a, #2a2a2a); background-image: -o-linear-gradient(top, #3a3a3a, #2a2a2a); background-image: -ms-linear-gradient(top, #3a3a3a, #2a2a2a); background-image: linear-gradient(top, #3a3a3a, #2a2a2a); }
.livetv span { font-size: 16px; color: #868686; vertical-align: middle; }

.livetv__link { display: inline-block; vertical-align: middle; padding: 10px 17px; border: 3px solid black; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #ffeedd; line-height: 1; font-size: 24px; text-align: center; text-decoration: none; text-shadow: 0 0 5px rgba(252, 252, 252, 0.16); background-color: #e71b23; -webkit-box-shadow: inset 0 0 16px #840709; -moz-box-shadow: inset 0 0 16px #840709; box-shadow: inset 0 0 16px #840709; }

.livetv__in { position: relative; padding-right: 78px; float: right; }
.livetv__in img { position: absolute; top: -9px; right: 0; }

.livetv__program { display: inline-block; margin: 0 10px; font-size: 30px; color: white; vertical-align: middle; font-weight: normal; font-family: "pf_din_text_cond_promedium", "arial narrow", sans-serif; }

.submenu { padding: 15px 0; list-style-type: none; background: white; }
.submenu li { margin: 10px 0; padding-right: 17px; }
.submenu a { display: inline-block; padding: 4px 10px 4px 30px; line-height: 1; font-size: 11px; text-transform: uppercase; color: #bb141a; text-decoration: none; }
.submenu a:hover { text-decoration: underline; }
.submenu a.is-active { background: #910709; color: white; }
.submenu a.is-active:hover { text-decoration: none; }

.video_big-descr .video__title { display: block; }

.tv-program { margin: 20px 0; }

.addcomment_white { background: white; }

.comment { margin-bottom: 30px; list-style-type: none; }

.comment_level-2, .comment_level-3 { margin: 10px 0 10px 50px; }

.comment__pic { float: left; margin-right: 20px; }

.comment__body { position: relative; top: -5px; overflow: hidden; font-size: 16px; color: #333333; }

.comment__author { color: #910709; text-decoration: none; }

.comment__time { color: silver; font-size: 14px; }

.comment__text { margin-top: 7px; }

.comments-wrap_sublevel { margin-bottom: -10px; }

.comment_textarea .comment__pic { margin-right: 9px; }
.comment_textarea .comment__body { top: -1px; padding: 2px 0 2px 11px; }
.comment_textarea .comment__body:before { content: ""; position: absolute; left: 0; top: 26px; background: url('../img/icons-sab6e008f99.png') 0 -1099px no-repeat; width: 11px; height: 14px; }

.textarea { display: block; width: 100%; margin-bottom: 9px; padding: 10px; min-height: 70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 0; resize: vertical; max-height: 300px; -webkit-box-shadow: 0 -2px 0 2px #cccccc, 0 -1px 0 1px #cccccc; -moz-box-shadow: 0 -2px 0 2px #cccccc, 0 -1px 0 1px #cccccc; box-shadow: 0 -2px 0 2px #cccccc, 0 -1px 0 1px #cccccc; }
.textarea:focus { outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.tv-program__top { position: relative; height: 45px; line-height: 45px; padding-bottom: 6px; }
.tv-program__top .tv-program__days-wrap { position: absolute; }

.move { position: relative; overflow: hidden; height: 45px; line-height: 45px; }

.move__nav { position: absolute; top: 0; width: 28px; height: 45px; line-height: 45px; text-align: center; background: #d2d2d2; border: 0; cursor: pointer; }
.move__nav:hover { background: #c8c8c8; }
.move__nav i { display: inline-block; vertical-align: middle; }

.move__prev { left: 0; }
.move__prev i { background: url('../img/icons-sab6e008f99.png') 0 -1057px no-repeat; width: 7px; height: 11px; }

.move__next { right: 0; }
.move__next i { background: url('../img/icons-sab6e008f99.png') 0 -1078px no-repeat; width: 7px; height: 11px; }

.move__main { position: absolute; left: 28px; right: 28px; top: 0; height: 45px; width: 5000px; }

.tv-program__days-wrap { font-size: 0; }

.tv-program__day { position: relative; display: inline-block; margin-right: -1px; width: 93px; height: 45px; border-left: 1px solid white; border-right: 1px solid white; font-size: 12px; text-align: center; line-height: 1; color: #898989; cursor: pointer; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #eaeaea)); background-image: -webkit-linear-gradient(top, #f0f0f0, #eaeaea); background-image: -moz-linear-gradient(top, #f0f0f0, #eaeaea); background-image: -o-linear-gradient(top, #f0f0f0, #eaeaea); background-image: -ms-linear-gradient(top, #f0f0f0, #eaeaea); background-image: linear-gradient(top, #f0f0f0, #eaeaea); }
.tv-program__day:first-child { border-left: 0; }
.tv-program__day.is-active { color: white; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, #bb141a), color-stop(100%, #a61217)); background-image: -webkit-linear-gradient(top, #bb141a 80%, #a61217); background-image: -moz-linear-gradient(top, #bb141a 80%, #a61217); background-image: -o-linear-gradient(top, #bb141a 80%, #a61217); background-image: -ms-linear-gradient(top, #bb141a 80%, #a61217); background-image: linear-gradient(top, #bb141a 80%, #a61217); }
.tv-program__day.is-active:after { content: ""; position: absolute; left: 50%; bottom: -6px; margin-left: -16px; width: 0px; height: 0px; border-style: solid; border-width: 6px 16px 0 16px; border-color: #a61217 transparent transparent transparent; }
.tv-program__day span { display: block; margin-top: 7px; font-size: 16px; font-family: "pfmedium", "arial narrow", sans-serif; }

.tv-program__main { padding: 23px 10px; background: white; margin-top: -6px; }
.tv-program__main ul { float: left; margin-left: 4%; list-style-type: none; width: 46.5%; border-left: 1px solid #eaecec; }
.tv-program__main ul:first-child { margin-left: 0; border-left: 0; }
.tv-program__main li { padding: 7px 0 7px 8%; font-size: 18px; }
.tv-program__main li.is-active { background: #3a3a3a; color: white; font-family: "pfmedium", "arial narrow", sans-serif; }
.tv-program__main li.is-active span { font-family: "pfregular", arial, sans-serif; }
.tv-program__main span { display: inline-block; margin-right: 5%; font-size: 14px; }
.tv-program__main i { display: inline-block; margin-left: 10px; font-size: 8px; font-style: normal; text-transform: uppercase; }
