.about-us
    margin-bottom: 35px
    overflow: hidden
.about-us__text
    float: left
    width: 70%
    font-size: 16px
    color: #333
.about-us__present
    overflow: hidden
    text-align: center
.doc
    display: inline-block
    text-decoration: none
    color: #959595
    font-size: 15px 
    i
        display: inline-block
        +s(doc_pdf-big)
    span
        display: block
        color: #bb141a
        font-size: 18px
        +med 

.title-l-2
    font-size: 30px
    font-weight: normal
    +med
.map-location
    font-size: 16px
    color: #333
.map-location__body
    margin-left: -30px
    +r(step1)
        overflow: hidden
    +r(step4)
        display: none
.map-location__list
    display: none
    margin: 20px 0 
    width: 45%
    float: left
    padding-left: 5%
    +r(step4)
        display: block
.map-location__text
    width: 60%
    clear: both
    margin-bottom: 44px
.map-location__satellite
    padding-left: 5%
    margin-bottom: 13%
    overflow: hidden
    strong
        display: block
        margin-bottom: 11px
        font-weight: normal
        +med
    ul
        float: left
        +border-box
        padding-left: 2%
        width: 50%
      
.wrapper_worker
    margin-left: -40px 
.wrapper_workeralt
    .worker__email
        margin: 0   
.worker
    float: left
    margin: 3.5% 3.8% 0 0
    width: 140px
    //overflow: hidden
    color: #333
    font-size: 14px
    a
        text-decoration: none
        &:hover
            text-decoration: underline
.worker-wrap
    overflow: hidden
    margin-right: -4%
.worker__img
    display: block
.worker__name
    display: block
    color: #333
    +med
    font-size: 16px
.worker__email
    margin-right: -25px 
    margin-left: -25px 
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    a
        color: #bb141a 
        
.wrapper_presenter
    text-align: left
    overflow: visible
    .worker-wrap
        margin-right: -70px
        margin-right: 0 
        overflow: visible
        +r(step5)
            padding-bottom: 20px 
    .worker
        display: inline-block
        vertical-align: top
        float: none
        width: 24%
        text-align: center
        margin-right: 0  
        +r(step1)
            width: 33%
        +r(step3) 
            width: 47%
        +r(step5)
            width: 47%
        +r(steplast)
            width: auto 
            display: block
    .worker__img
        width: 140px 
        display: inline-block

.worker_round
    text-align: center
    margin-right: 70px
    .worker__img
        overflow: hidden
        margin-bottom: 10px
        +border-radius(50%)
        img
            display: block
.map
    position: relative
    height: 430px
.map__body  
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
.map__popup
    position: absolute
    z-index: 100
    top: 40px
    left: 75px
    padding: 16px 25px
    background: #fff  
    font-size: 16px
    color: #333 
    p
        margin: 15px 0
    a
        color: #bb141a 
        text-decoration: none
        &:hover
            text-decoration: underline