.h2{
	font-size: 15px;
	font-weight: normal;
	background: #B61622;
	text-transform: uppercase;
	color: #fff;
	padding: 6px 10px 6px 16px;
	padding-left: 16px;
	margin-bottom: 20px;
	.b_news &{
		margin-bottom: 17px;
	}
}
.icon-play{
	display: inline-block;
	@include s(icon-play);
}
.b{
	margin-bottom: 30px;
}
.more{ 
	text-align: center;
	.more__in{
		display: inline-block;
	}
}

.smallentry{
	color: #222222;
	font-size: 14px;
	margin-bottom: 10px;
	.smallentry__meta{
		margin-bottom: px;
	}
	.smallentry__time{
		display: inline-block;
		font-size: 12px;
		color: #7f0102;
		margin-right: 5px;
	}
	.smallentry__categ{
		color: #797979;
		text-decoration: none;
		font-size: 12px;
		display: inline-block;
	}
	.smallentry__title{
		font-size: 14px;
		text-decoration: none;
		a{
			color: #222;
			text-decoration: none;
		}
	}
}

.entry{
	overflow: hidden;
	.entry__pic{
		float: left;
		margin-right: 20px;
	}
	.entry__content{
		overflow: hidden;
	}
	.entry__published{
		color: #7f0102;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.entry__title{
		font-weight: normal;
		font-size: 24px;
		color: #222222;
		line-height: 1.2;
		text-decoration: none;
		margin-bottom: 4px;
	}
	.entry__summary{
		color: #222;
		font-size: 16px;
	}
}