

// footer
.footer{
	@include background-image(linear-gradient(#3A3A3A, #1C1C1C));
	border-top: 1px solid #D7D7D7;
	color: #d8d8d8;
	font-size: 14px;
	line-height: 1.3;
	position: relative;
	@include r(step5){
		padding: 40px  20px;
	}
	@include r(step5){
		
	}
	@include r(step6){
		padding-bottom: 122px;
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}
	%footerblock{
		padding: 37px 3% 32px 3%;
		float: left;
		@include r(step3){
			padding: 37px 3% 26px 3%;
		}
		@include r(step5){
			padding: 0;
		}
		&:before{
			content: ' ';
			position: absolute;
			right: 0;
			top: 0;
			height: 400px;
			border-right: 1px solid #474747;
			@include r(step3){
				display: none;
			}
		}
	}
	.footer__wrapb{
		float: left;
		width: 43%;
		@include r(step3){
			padding: 37px 0 26px 3%;
			width: 30%;
		}
		@include r(step5){
			float: right;
			width: 40%;
			padding: 0;
			margin-right: 40px;
		}
		@include r(step6){
			float: none;
			width: auto;
			margin: 0;
		}
	}
	.footer__in{
	 	overflow: hidden;
	}
	h3{
		color: #d8d8d8;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 14px;
	}
	.footer__categs{
		position: relative;
		width: 25%;
		@extend %footerblock;
		@include r(step5){
			width: 40%;
			float: left;
			margin-left: 44px;
		}
		@include r(step6){
			float: none;
			margin: 0 20px 20px 20px; 
			width: auto;
			overflow: hidden;
		}
		ul{
			width: 50%;
			float: left;
			list-style: none;
			font-size: 14px;
			width: 60%;
			&:last-child{
					width: 40%;
			}
			li{
				margin-bottom: 4px;
			}
			a{
				color: #ea1b23;
				text-decoration: none;
			}
		}
	}
	.footer__adres{
		width: 20%;
		width: 45%;
		@extend %footerblock;
		position: relative;
		padding-left: 5%;
		@include r(step3){
			float: none !important;
			width: auto;
			padding: 0;
		}
		@include r(step6){
			display: none;
		}
		p{
			margin-bottom: 4px;
		}
		a{
			color: #ea1b23;
			font-size: 14px;
		}
	}
	.footer__logos{
		position: relative;
		text-align: center;
		width: 15%;
		width: 35%;
		@extend %footerblock;
		@include r(step3){
			float: left !important;
			width: auto;
			padding: 0;
			text-align: left;
			margin-top: 26px;
		}
		@include r(step3){
			margin-right: -20px;
		}
		@include r(step6){
			position: absolute;
			left: 30px;
			bottom: 30px;
			width: 40%;
			text-align: left;
		}
		br{
			@include r(step3){
				display: none;
			}
		}
		&>a{
			margin-bottom: 20px;
			display: inline-block;
			@include r(step3){
				margin-bottom: 0;
				margin-right: 18px;
				vertical-align: middle;
			}
			@include r(step6){
				margin-top: 5px;
			}
		}

	}
	.footer__logo1{ 
		@include s(logo1);
		display: inline-block;
	}
	.footer__logo2{
		@include s(logo2);
		display: inline-block;
	}
	.footer__logo3{
		@include s(logo3);
		display: inline-block;
		@include r(step3){
			position: relative;
			top: 4px;
		}
	}

	.footer__copy{
		@extend %footerblock;
		width: 20%;
		font-size: 12px;
		padding-left: 15px;
		@include r(step3){
			width: 33%;
			padding-left: 0;
			padding-right: 0;
		}
		@include r(step5){
			float: left;
			width: 40%;
			margin-left: 44px;
			padding-top: 20px;
			//position: relative;
		}
		@include r(step6){
			float: none;
			width: auto;
			margin: 0 20px;
			padding: 0;
			
		}
		p{
			margin-bottom: 3px;
		}
		&:before{
			display: none;
		}
	}
	.footer__copyright{
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 5px;
		line-height: 1.3;
		i{
			@include s(copy);
			vertical-align: middle;
			margin-right: 4px;
			display: inline-block;
			position: relative;
			top: -3px;
		}
		p{
			margin-bottom: 5px;
		}
	}
	.footer__dev{
		margin-top: 16px;
		@include r(step5){
			position: absolute;
			bottom: 60px;
			right: 44px;
			width: 40%;
		}
		@include r(step6){
			position: absolute;
			bottom: 30px;
			width: 103px;
			right: 30px;
		}
		i{
			display: inline-block;
			@include s(dbabych);
			float: left;
			margin-right: 12px;
			@include r(step6){
				float: none;
				margin-right: 0;
			}
		}
		p{
			font-size: 11px;
			a{
				color: #585858;
				line-height: 1.2;
				&:hover{
					color: #ea1b23;
				}
			}
		}
	}
}