// default layout
.site,.footer__in{
	width: 1200px;
	margin: 0 auto;
	@include r(step1){ 
		width: auto;
	}
}
.site{
	margin-bottom: 80px;
}
.page{
	padding: 30px 40px;
	@include r(step2){
		padding: 30px 10px;
	}
	@include r(step5){
		padding: 20px 44px 30px 44px;
	}
}
.l{
	width: 100%;
	display: inline-block;
	.l-col1{
		float:left;
		width: 23%;
		margin-right: 5%;
	}
	.l-col2{
		float:left;
		width: 44%;
	}
	.l-col3{
		float: right;
		width: 21%;
	}
}
