.choosedate
	background: #333
	font-size: 18px  
	text-transform: uppercase
	height: 45px 
	line-height: 45px
	color: #fff 
	padding: 0 0 0 29px
	margin-bottom: 30px 
	margin-left: -20px 
	+r(step3)
		margin-left: 0 
	i
		+s(choosedate)
		display: inline-block
		vertical-align: middle
		position: relative
		top: -1px 
		margin-left: 5px 
		cursor: pointer
		input
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			+opacity(0)
			cursor: pointer
