.program
    .actual-program
        float: left
    .likes
        float: right
        margin-top: 37px
.program__banner
    overflow: hidden
    margin-bottom: 15px
    position: relative
.program__name
    position: absolute
    top: 14px
    left: 0
    padding: 4px 14px 4px 42px
    +bold
    background: #620407 
    font-size: 24px
    text-transform: uppercase
    color: #fff  

.program__descr
    margin-bottom: 43px
    padding-left: 5.4%
    font-size: 16px
    +med

.addcomment_gray
    background: #e9eaea 
    clear: both
    
.media-section
    overflow: hidden
    margin: 46px 0 0 
    .videos
        margin-right: -7%
    .video
        width: 29.5%
        margin: 0 3.4% 3.4% 0
        .video__content
            padding: 13px 6px 13px 51px
        .video__icon
            top: 10px
.media-section__title
    margin-bottom: 15px
    font-size: 18px
    +bold
    
.video_descr-top
    &:hover
        .video__content
            bottom: 0
    .video__content
        top: 0
        bottom: auto

.actual-program
    margin: 23px 0 23px 19px
.actual-program__days
    margin-bottom: 8px
    font-size: 16px
    strong
        +med
        font-weight: normal
    i,div
        display: inline-block
        vertical-align: middle
.icon-clock
    +s(clock)
.actual-program__hours
    padding-left: 11px
    font-size: 16px
    +med
    span
        display: inline-block
        margin-left: 12px
        &.is-old-time
            color: #8e8e8e 